:root{
    --primalOne:#E50914;
    --primalTow:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
}



header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primalTow);
    width:100%;
    z-index: 999;
}
header img{
    background-size: cover;
    width:160px;
    padding:13px 0 10px 45px;
}
header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 15px; 
}
header nav a:hover{
    color:#fff;
}
header .container_nav_left{
    display: flex;
    align-items: center;
}
header .container_nav_left a{
    font-size: 15px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 16px;
    margin-left: 10px;
}
header .container_nav_left a:hover{
    color:var(--primalOne);
    transition: 0.3s;
}
header .container_nav_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
header .container_nav_right img{
    width:85px;
    margin-right: 30px;
}
header .container_nav_right p{
    font-size: 15px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    padding-right:10px;
}
.nav_menu{
    margin-right:-40px;
}

/* filmes destaque*/
main .container{
    width:500px;
    margin-left: 80px;
}
main .container img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.nav_menu a{
    font-size: 15px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
}
.nav_menu i{
    margin-right: 3px;
}
.filme_destaque{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/Main/Vikings.jpg');
    height:100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}
.filme_destaque h3{
    font-size: 24px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}
.filme_destaque .descricao{
    margin-bottom: 20px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}
.filme_destaque .dados_titulo{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #a3a3a3;
    padding:20px 0 20px 0;
}
.filme_destaque .dados_titulo span{
    border:1px solid #333;
    padding:0px 5.5px;
}
.filme_destaque .dados_atores{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}
.filme_destaque .dados_atores span{
    color: #a3a3a3;
}
.botao{
    margin-top: 10px;
}
.botao button{
    background-color:rgba(39, 39, 39, 0.5);
    border:none;
    color:#fff;
    padding:15px 30px;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
    transition:1s ease all;
    font-weight: 600;
    border-radius: 5px;
}
.botao i{
    margin-right: 5px;
    font-size: 20px;
}
.botao button:hover{
    background-color:rgb(207, 207, 207);
    color:#333;
}

/* Aleatorio */
.container_aleatorio{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}

.container_aleatorio p:nth-child(1){
    font-size: 50px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}
.container_aleatorio p:nth-child(2){
    text-align: center;
    padding-top: 20px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color:rgb(218, 218, 218);
    font-size: 20px;
}
.container_aleatorio button{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding:7px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}
.container_aleatorio button:hover{
    background-color: rgb(119, 119, 119);
    color:#fff;
    transition: 0.3s;
}
.container_aleatorio .img_button{
    width:30px;
    margin-right: 5px;
}




/* titulos semelhantes */
.container_titulos_semelhantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 96%;
    margin:0 30px 0 30px;
    height:auto;
    background-color:rgb(0, 0, 0);
}
.titulo_semelhantes_p{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding:20px 0;
    letter-spacing: 1px;
    margin-left:70px;
}
.container_titulos_img{
    width:350px;
    height:200px;
    background-color:black;
    margin:7px 7px;
}
.container_titulos_img img{
    width:350px;
    height:200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/* CARROSEL */

.box-filme{
    height:100%;
    width:100%;
    display: block;
}
.carrosel-filmes{
    background-color:black;
    padding-left: 30px;
}
.carrosel-filmes p{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: rgb(184, 184, 184);
    padding:10px 0;
    letter-spacing: 2px;
}

/* @media */

@media screen and (max-width:883px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .nav_menu a{
        display: none;
    }
    .container_nav_left{
        flex-direction: column;
    }
    .container_nav_right p{
        display: none;
    }
    .container_nav_right i{
        padding-left: 100%;
        width:10px;
    }
    .container_nav_right img{
        display: none; 
    }
    main .container{
        width:90%;
        margin: 20px;
    }
    main .container img{
        margin-top: 150px;
    }
    .botao{
        flex-direction: row;
        width:110%;
        margin-top:5px;
        display: flex;
    }
    .botao button{
        width:180px;
        padding:10px;
    }
    .carrosel-filmes{
        padding-left: 19px;
    }
    .filme_destaque{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: -65px;
    }
    .container_titulos_semelhantes{
        margin:0 0 0 10px;
    }
}